body, html{
<<<<<<< HEAD
  height: 95%;
  width: 100%;
  background-image: url("./images/background.png");
  
=======
  height:100%;
  background-image: url("./images/background.png");
>>>>>>> 935a06846e2de616e8055c1ac0e536a7fbce4e0c
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  text-align: right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}

<<<<<<< HEAD
@keyframes move {
  0%  {transform: translateX(0px);}
  50% {transform: translateX(100px);}
  100%{transform: translateX(0px);}
}

@keyframes fade {
  0%   {opacity: 0; }
  100% {opacity: 1; }
}

@keyframes spin {
 100% { web-kit: rotate(360deg);
        transform: rotate(360deg);
      }
}

@keyframes scale {
  50%  {transform: scale(1.5, 1.5)}
  100% {transform: scale(1, 1)}
}

@keyframes dimensional {
  50%  {transform: rotateY(180deg)};
  100% {transform: rotateY(0deg)};
}

=======
@keyframes example {
  0%   {left:0px; top:0px;}
  25%  {left:0px; top:200px;}
  50%  {left:200px; top:200px;}
  75%  {left:200px; top:0px;}
  100% {left:0px; top:0px;}
}
>>>>>>> 935a06846e2de616e8055c1ac0e536a7fbce4e0c
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

<<<<<<< HEAD
.buu {
  position: relative;
  animation-name: fade;
=======
.buu{
  position: absolute;
  animation-name: example;
>>>>>>> 935a06846e2de616e8055c1ac0e536a7fbce4e0c
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.goku{
<<<<<<< HEAD
  height: 20%;
  position: absolute;
  animation: spin 4s linear infinite;
=======
  position: absolute;
>>>>>>> 935a06846e2de616e8055c1ac0e536a7fbce4e0c
}

.frieza{
  position: absolute;
<<<<<<< HEAD
  animation: scale 4s infinite;
=======
>>>>>>> 935a06846e2de616e8055c1ac0e536a7fbce4e0c
}

.android{
  position: absolute;
<<<<<<< HEAD
  animation: dimensional 4s infinite;
}

.vegeta{
  position: absolute;
  animation: move 4s infinite;
=======
>>>>>>> 935a06846e2de616e8055c1ac0e536a7fbce4e0c
}
